.services {
	background: url("../images/services/blob.png") 100% 225% no-repeat;
	overflow: hidden;
	@include adaptiv-value("padding-top", 110, 40, 1);
	@include adaptiv-value("padding-bottom", 110, 40, 1);
	// .services__container
	&__container {
	}
	// .services__head
	&__head {
		@include adaptiv-value("margin-bottom", 68, 40, 1);
	}
	// .services__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
		row-gap: 24px;
	}
	// .services__item
	&__item {
		padding: 0 12px;
		flex: 1 1 33.333%;
		min-width: 250px;
	}
	// .services__button
	&__button {
		margin-top: 66px;
		text-align: center;
	}
}
.item-services {
	@include adaptiv-value("padding", 45, 15, 1);
	height: 100%;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease 0s;
	&:hover {
		box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
	}
	// .item-services__img
	&__img {
		flex: 0 0 63px;
		width: 63px;
		max-height: 63px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		&:not(:last-child) {
			margin-bottom: 33px;
		}
	}
	// .item-services__title
	&__title {
		font-weight: 900;
		font-size: 19px;
		line-height: 1.37;
		color: $color-red;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .item-services__text
	&__text {
	}
}
